.hero{
    height: 90vh;
    width: 100%;
    display: flex;
    background: rgb(255,255,255);
background: linear-gradient(38deg, rgba(255,255,255,1) 0%, rgba(215,233,255,1) 100%);



}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;

}
.hero-left h2{
    color: #6e6c6c;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 600;

}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;

}
.hero-hand-icon img{
    width: 105px;

}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius:75px ;
    margin-top: 30px;
    background: #46C2CB;
    color: white;
    font-size:22px ;
    font-weight: 500;
}
.hero-latest-btn:hover{
    font-size: 22.2px;
    box-shadow: 1px 1px 5px #090909;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    height: 600px;
    filter: drop-shadow(22px 27px 18px #6a6a6a);; 
}
.hero-right img:hover{
    height: 610px;
}