.offers{
    width: 100%;
    height: 60vh;
    display: flex;
    background: rgb(255,255,255);
background: linear-gradient(38deg, rgba(255,255,255,1) 0%, rgba(215,233,255,1) 100%);
    justify-content: center;
    align-content: center;
    border-radius: 100px;
    padding-bottom: 50px;
    
}
.offerinner{
    display: flex;
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    color: #171717;
    font-size:80px ;
    font-weight: 600;

}
.offers-left p{
    color: #171717;
    font-size:22px ;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background:#69d7dd;
    color: #FFF;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items:center ;
    padding-top: 50px;
    justify-content: flex-end;
    
}
.offers-right img{
    height: 400px;
    width: 300px;
    margin-left: 50px

}