.Productdisplay{
    display: flex;
    margin: 0px 170px;

}
.productdisplayleft{
    display: flex;
    gap: 17px;


}
.productdisplayimglist{
    display: flex;
    flex-direction: column;
    gap: 16px;


}
.productdisplayimglist img{
    height: 163px;

}
.productdisplaymainimg{
    width: 586px;
    height: 700px;
}
.productdisplayimg{


}
.productdisplayright{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;

}
.productdisplayright h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;

}
.productdisplatrightstar{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;



}
.productdisplayrightprices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight:700 ;


}
.productdisplayrightpriceold{text-decoration: line-through;
    color: #818181;



}
.productdisplayrightpricenew{
    color: #ff4141;



}
.productdisplayrightdescription{

}
.productdisplayrightsize{

}
.productdisplayrightsize h1{
    margin-top: 55px;
    color:#656565 ;
    font-size: 20px;
    font-weight:600 ;


}
.productdisplayrightsizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;


}
.productdisplayrightsize div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.Productdisplay button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;


}
.productdisplayrightcategory{
    margin-top:10px ;

}
.productdisplayrightcategory span{
    font-weight: 600;

}